.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wraper {
  position: relative;
  max-width: 361px;
  padding: 120px 16px 181px 16px;
}
.about-wraper-text h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--pink-text);
  margin-bottom: 24px;
}
.about-wraper-text p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  margin-bottom: 16px;
}
.about-wraper-devise {
  position: absolute;
  bottom: 125px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 337px;
  height: 110px;
  background: var(--pink-background);
}
.devise-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #75767a;
  border-radius: 15px;
  width: 323px;
  height: 96px;
}
.devise-text {
  font-family: var(--second-family);
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black);
  padding: 12px 2px 12px 23px;
}
@media screen and (min-width: 1440px) {
  .about-wraper {
    max-width: 1217px;
    padding: 160px 123px 112px 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 152px;
    margin-bottom: unset;
  }
  .about-wraper-text {
    max-width: 410px;
  }
  .about-wraper-text h2 {
    margin-bottom: 40px;
  }
  .about-wraper-devise {
    bottom: 55px;
    right: -55px;
    width: 396px;
    height: 119px;
  }
  .devise-wraper {
    width: 380px;
    height: 103px;
  }
}
