.event {
  margin-top: 120px;
}
.event-wraper {
  position: relative;
  max-width: 361px;
  padding-left: 16px;
  padding-right: 16px;
}
.event-wraper::before {
  content: "";
  top: 10px;
  left: 0;
  width: 360px;
  height: 139px;
  position: absolute;
  background: url(/image/main/event/event-dab-mob.png);
  background-repeat: no-repeat;
  background-position: left;
  z-index: -1;
}
.event-title {
  font-family: var(--second-family);
  font-size: 26px;
  color: var(--pink-text);
  margin-bottom: 24px;
}
.event-quote {
  font-family: var(--third-family);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.event-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.event-list-img {
  position: relative;
  border-radius: 15px;
  width: 361px;
  height: 390px;
  margin-bottom: 16px;
}
.img-1 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-2 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-3 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-4 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-5 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-6 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-7 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-8 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-9 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-10 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-11 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-12 {
  background: linear-gradient(
      180deg,
      rgba(50, 49, 45, 0.7) 0%,
      rgba(25, 25, 23, 0) 50%,
      rgba(50, 49, 45, 0.7) 100%
    ),
    url("/image/main/event/event-12.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.event-item-info {
  padding-top: 16px;
  padding-left: 16px;
}
.event-item-info p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}
.event-info-wraper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.event-info-wraper svg {
  fill: none;
  stroke-width: 1.3px;
  stroke: var(--white);
}
.event-item-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  font-family: var(--second-family);
  font-size: 26px;
  color: var(--white);
}
.event-descriptions {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 5px;
  margin-bottom: 24px;
  border-left: 1px solid var(--purple);
}
.event-wraper-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.event-btn {
  border-radius: 15px;
  width: 173px;
  height: 70px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--white);
}
.event-btn-second {
  background: white;
  color: var(--purple);
  border: 1px solid var(--purple);
}
@media screen and (min-width: 1440px) {
  .event-wraper {
    position: relative;
    max-width: 1240px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .event-title {
    font-size: 36px;
    margin-bottom: 32px;
  }
  .event-wraper::before {
    content: "";
    top: 60px;
    left: 40px;
    width: 720px;
    height: 139px;
    position: absolute;
    background: url(/EventStudio/image/main/event/event-dab.png);
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
  }
  .event-quote {
    font-size: 32px;
    width: 588px;
  }
  .event-list {
    display: flex;
    flex-direction: unset;
    width: 100%;
    flex-wrap: wrap;
    gap: 48px 234px;
  }
  .event-list-item {
    width: calc((100% - 234px) / 2);
  }
  .event-list-img {
    width: 503px;
    height: 496px;
  }
  .event-descriptions {
    width: 452px;
    height: 72px;
  }
  .event-btn {
    width: 224px;
  }
}
