@media screen and (min-width: 1440px) {
}
.header {
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  box-shadow: 0 4px 7px 0 rgba(144, 144, 144, 0.25);
  background: rgba(240, 238, 238, 0.61);
}
.header ul {
  display: flex;
  gap: 32px;
}
.header ul li {
  font-size: 20px;
}
.header img {
  width: 220px;
  height: 86px;
}
.header-number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-number-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}
