.help {
  position: relative;
  background: var(--grey-background);
}
.help-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 71px;
  padding-bottom: 60px;
}
.help-title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--pink);
  margin-bottom: 48px;
}
.help-text {
  max-width: 361px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--black);
  margin-bottom: 40px;
}
.help-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  border-radius: 15px;
  border: none;
  max-width: 224px;
  width: 100%;
  height: 70px;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
  cursor: pointer;
  transition: all 500ms ease;
}
.help-btn:hover {
  background: var(--background-btn);
}
@media screen and (min-width: 1440px) {
  .help-wraper {
    padding-bottom: 80px;
    padding-top: 79px;
  }
  .help-title {
    font-size: 24px;

    margin-bottom: 56px;
  }
  .help-text {
    max-width: 513px;
    font-size: 20px;
    margin-bottom: 48px;
  }
}
/*------------------------TEST-MODAL------------------------*/

.help-test {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: var(--grey-800);
  z-index: 15;
}
.help-test-wraper {
  position: relative;
  border-radius: 15px;
  max-width: 361px;
  width: 100%;
  max-height: 1418px;
  height: calc(100% - 104px);
  background: url(/image/modal/back-moda-order-mob.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-left: 16px;
  margin-right: 16px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.help-test-wraper::-webkit-scrollbar {
  width: 3px;
}
.help-test-wraper::-webkit-scrollbar-track {
  background: var(--grey-background);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.help-test-wraper::-webkit-scrollbar-thumb {
  background: var(--background-btn);
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  cursor: grab;
}
.test-close-btn {
  border-radius: 50%;
  top: 16px;
  right: 10px;
  position: absolute;
  width: 16px;
  height: 16px;
  stroke: black;
  cursor: pointer;
  transition: all 300ms ease;
}
.test-close-btn:hover {
  background: rgb(173, 171, 171, 0.2);
}
.test-title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 22px;
}
.help-form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.help-form legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
.help-form-data {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  max-width: 365px;
  width: 100%;
  margin-bottom: 10px;
}
.help-form-data input {
  border: 1px solid var(--grey-800);
  border-radius: 7px;
  max-width: 300px;
  height: 40px;
  padding: 0px 16px;
  background: rgba(255, 255, 255, 0.85);
}
.help-form-wraper {
  max-width: 329px;
  width: 100%;
  padding: 24px 16px;
  border-radius: 15px;
  background: var(--pink-background);
}
.help-answer-wraper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.help-answer-wraper input[type="checkbox"] {
  cursor: pointer;
  border: 1px solid var(--grey-800);
  background: rgba(255, 255, 255, 0.85);
}
.help-answer-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--pink);
  cursor: pointer;
}
.test-btn {
  border-radius: 15px;
  width: 200px;
  height: 56px;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
  border: none;
  color: var(--white);
  margin-top: 32px;
  cursor: pointer;
  transition: all 400ms ease;
}
.test-btn:hover {
  background: var(--background-btn);
}

@media screen and (min-width: 1440px) {
  .help-test-wraper {
    max-width: 608px;
    width: 100%;
    max-height: 1538px;
    height: calc(100% - 104px);
    background: url(/image/modal/back-modal-order.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: white;
  }
  .help-test-wraper::-webkit-scrollbar {
    width: 5px;
  }
  .test-close-btn {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
  }
  .test-title {
    font-family: var(--second-family);
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .help-form legend {
    font-size: 20px;
  }
  .help-form-data {
    font-size: 20px;
    max-width: 365px;
    width: 100%;
    margin-bottom: 16px;
  }
  .help-form-data input {
    width: 333px;
    height: 44px;
    background: rgba(255, 255, 255, 0.85);
  }
  .help-form-wraper {
    max-width: 544px;
    padding: 24px 32px;
  }
  .help-answer-title {
    font-size: 18px;
  }
  .test-btn {
    width: 224px;
    height: 70px;
  }
}
