.help {
  /* background: url(/image/main/help/help-back-mob.png);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain; */
  position: relative;
  background-color: var(--grey-background);
}
.help-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.help-title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--pink);
  margin-bottom: 48px;
}
.help-text {
  max-width: 361px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--black);
  margin-bottom: 40px;
}
.help-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  border-radius: 15px;
  border: none;
  max-width: 224px;
  width: 100%;
  height: 70px;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
}
@media screen and (min-width: 1440px) {
  .help-wraper {
    padding-bottom: 80px;
    padding-top: 79px;
  }
  .help-title {
    font-size: 24px;

    margin-bottom: 56px;
  }
  .help-text {
    max-width: 513px;
    font-size: 20px;
    margin-bottom: 48px;
  }
}
/*------------------------TEST-------------------------*/
.help-test {
  display: none;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: var(--grey-800);
  z-index: 15;
  margin: 0 auto;
}
.help-test-wraper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  max-width: 608px;
  width: 100%;
  height: 1806px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.test-title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 52px;
}
.help-test-form {
  max-width: 544px;
  width: 100%;
  background: var(--pink-background);
  padding: 24px 32px;
}
