.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 970px;
  background-image: url(/image/main/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}
.hero-conrainer {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
.hero-wraper {
  position: absolute;
  top: 20%;
  left: 50%;
  border-radius: 50%;
  width: 1067px;
  height: 1003px;
  background-color: rgb(229, 227, 228, 0.7);
}
.hero-wraper-text {
  max-width: 396px;
  padding-top: 372px;
  padding-left: 133px;
  z-index: 9;
}
.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--black);
  margin-bottom: 24px;
}
.hero-text {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--black);
  margin-bottom: 44px;
}
.hero-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  border-radius: 15px;
  border: none;
  width: 292px;
  height: 70px;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
  cursor: pointer;
}
