.info {
  height: 1220px;
  background: url(/image/main/info/info-back-mob.png);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: cover contain;
}
.info-wraper {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 361px;
  padding-left: 16px;
  padding-right: 16px;
}
.info-wraper ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.info-wraper ul li {
  width: 285px;
}
.info-wraper ul h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--pink-text);
  margin-bottom: 16px;
}
.info-wraper ul p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}
.info-quote {
  max-width: 361px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.info-quote p {
  font-family: var(--third-family);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  z-index: 1;
}
.info-dab {
  position: absolute;
  top: -22px;
  left: 0;
  max-width: 260px;
  width: 100%;
  height: 125px;
  background: url(/image/main/info/info-dab-mob.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.info-wrpar-img {
  border-radius: 20px;
  width: 181px;
  height: 210px;
}
.info-container-img {
  position: relative;
  max-width: 322px;
  width: 100%;
  height: 327px;
  padding-left: 13px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.img-position {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 1440px) {
  .info {
    margin-top: 40px;
    height: 863px;
    background: url(/image/main/info/info-back.png);
    background-repeat: repeat;
    background-position: top center;
    background-size: contain;
  }
  .info-wraper {
    max-width: 1150px;
    width: 100%;
    padding-left: 131px;
    padding-right: 139px;
    padding-bottom: 109px;
    margin-top: 80px;
  }
  .info-wraper-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 56px;
    padding-left: 20px;
  }
  .info-quote {
    max-width: 597px;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 92px;
  }
  .info-quote p {
    font-size: 32px;
    line-height: 1.2;
    max-width: 597px;
  }
  .info-wraper ul {
    gap: 112px;
  }
  .info-dab {
    max-width: 500px;
    width: 100%;
    background: url(/image/main/info/info-dab.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
  .info-container-img {
    max-width: 456px;
    width: 100%;
    height: 506px;
    margin: 0;
  }
  .info-wrpar-img {
    border-radius: 20px;
    width: 261px;
    height: 330px;
  }
}
