.individual-hero {
  position: relative;
  background: url(../../image/individual/background-ind-hero-mob.png);
  background-position: top center;
  background-repeat: repeat;
  background-size: contain;
  background-color: var(--grey-background);
}
.individual-text-container,
.individual-hero-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.individual-hero-wraper {
  padding-top: 123px;
  padding-bottom: 72px;
}
.individual-title {
  max-width: 265px;
  font-family: var(--second-family);
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  color: var(--pink);
  margin-top: 32px;
  margin-bottom: 32px;
}
.individual-sub-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--pink);
  margin-bottom: 16px;
}
.individual-sub-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.text-bolt {
  font-weight: 600;
  margin-bottom: 40px;
}
.individual-img-mob {
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
}
.individual-img {
  display: none;
}
.ind-btn-mod {
  max-width: 224px;
  width: 100%;
  height: 70px !important;
  color: var(--white);
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
  cursor: pointer;
  transition: all 400ms ease;
}
.ind-btn-mod:hover {
  background: var(--background-btn);
}
@media screen and (min-width: 834px) {
  .individual-hero {
    background: url(/image/master-back-tab.png);
    background-position: top center;
    background-repeat: repeat-x;
    background-size: contain;
    background-color: var(--grey-background);
  }
  .individual-content {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .individual-text-container {
    align-items: flex-start;
    width: 365px;
  }
  .individual-title {
    font-size: 36px;
    max-width: 513px;
    margin-bottom: 64px;
  }

  .individual-img {
    margin-top: 24px;
    display: flex;
    border-radius: 15px;
  }
  .individual-img-mob {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .individual-hero {
    background: url(/image/background-event-item.png);
    background-position: top center;
    background-repeat: repeat;
    background-size: contain;
    background-color: var(--grey-background);
  }
  .individual-hero-wraper {
    padding-bottom: 121px;
  }
  .individual-content {
    align-items: center;
    gap: 177px;
  }
  .individual-text-container {
    align-items: flex-start;
    width: 560px;
  }
  .individual-img {
    margin-top: 0;
  }
  .text-bolt {
    margin-bottom: 48px;
  }
}
