.modal-dateils {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: var(--grey-800);
  z-index: 15;
  padding-top: 20px;
}
.modal-wrpaer {
  position: relative;
  border-radius: 15px;
  max-width: 361px;
  width: 100%;
  height: calc(100% - 104px);
  background: url(/image/modal/detail-modal-back-mob.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: var(--white);
  background-size: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-left: 16px;
  margin-right: 16px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.icon-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 16px;
  height: 16px;
  stroke-width: 1.5px;
  stroke: var(--black);
}
.modal-wrpaer h2 {
  font-weight: 400;
  font-size: 26px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.details-container,
.skills-list {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.details-info {
  display: flex;
  gap: 4px;
}
.details-info svg {
  width: 21px;
  height: 21px;
  fill: none;
  stroke: black;
}
.details-info p {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--grey-footer);
}
.details-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.details-skills-container {
  width: 100%;
}
.details-skills-container h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.skills-list {
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.skills-list svg {
  width: 48px !important;
  height: 24px;
  stroke: black;
}
