.modal-dateils {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: var(--grey-800);
  z-index: 15;
}
.modal-wrpaer {
  position: relative;
  border-radius: 15px;
  max-width: 361px;
  width: 100%;
  max-height: calc(100% - 104px);
  background: url(/image/modal/detail-modal-back-mob.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: var(--white);
  background-size: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-left: 16px;
  margin-right: 16px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.modal-wrpaer::-webkit-scrollbar {
  width: 3px;
}
.modal-wrpaer::-webkit-scrollbar-track {
  background: var(--grey-background);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.modal-wrpaer::-webkit-scrollbar-thumb {
  background: var(--background-btn);
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  cursor: grab;
}
.modal-wrpaer h2 {
  font-weight: 400;
  font-size: 26px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.details-container,
.skills-list {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.details-info {
  display: flex;
  gap: 4px;
}
.details-info svg {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: black;
}
.details-info p {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-footer);
}
.details-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.details-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.details-skills-container {
  width: 100%;
}
.details-skills-container h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.skills-list {
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.skills-list svg {
  width: 24px;
  height: 24px;
  fill: black;
}
.skills-list p {
  max-width: 305px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.detail-btn {
  max-width: 224px;
  width: 100%;
  min-height: 56px;
}
@media screen and (min-width: 1440px) {
  .modal-wrpaer {
    max-width: 1030px;
    width: 100%;
    background: url(/image/modal/detail-back.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: var(--white);
    padding: 48px 48px 40px 48px;
  }
  .modal-wrpaer h2 {
    font-weight: 400;
    font-size: 36px;
    margin-top: unset;
    margin-bottom: 32px;
  }
  .details-info svg {
    width: 24px;
    height: 24px;
  }
  .details-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--grey-footer);
  }
  .icon-close {
    width: 24px;
    height: 24px;
  }
  .details-container {
    gap: 56px;
  }
  .details-description {
    width: 100%;
    gap: 16px;
  }
  .details-description p {
    max-width: 560px;
  }
  .details-skills-container {
    margin-bottom: 64px;
  }
  .skills-list {
    max-width: 556px;
    margin-bottom: 16px;
  }
  .skills-list p {
    max-width: 520px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  .detail-btn {
    min-height: 70px;
  }
}
