.modal-dateils {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: var(--grey-800);
  z-index: 15;
  padding-top: 20px;
}
.modal-wrpaer {
  position: relative;
  border-radius: 15px;
  max-width: 361px;
  width: 100%;
  height: calc(100% - 104px);
  background: url(/image/modal/detail-modal-back-mob.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: var(--white);
  background-size: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-left: 16px;
  margin-right: 16px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.details-container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.details-info svg {
  width: 24px;
  height: 24px;
}
.details-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
