.order {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: var(--grey-800);
  z-index: 15;
}
.order-container {
  position: relative;
  border-radius: 15px;
  max-width: 345px;
  width: 100%;
  max-height: calc(100% - 104px);
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 8px;
  margin-left: 16px;
  margin-right: 16px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.order-container::-webkit-scrollbar {
  width: 3px;
}
.order-container::-webkit-scrollbar-track {
  background: var(--grey-background);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.order-container::-webkit-scrollbar-thumb {
  background: var(--background-btn);
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  cursor: grab;
}
.order-title {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 300px;
}
.order-toggle-btn {
  width: 100%;
  display: flex;
  gap: 8px;
}
.order-toggle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--pink-2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  border-radius: 15px 15px 0 0;
  background: var(--pink-background);
  cursor: pointer;
  transition: all 400ms ease;
}
.disabled {
  color: var(--white);
  background: var(--grey-background);
  transition: all 400ms ease;
}
.form-wraper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-subwraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 24px;
  background: var(--pink-background);
  margin-bottom: 24px;
  border-radius: 0 0 15px 15px;
}
.form-wraper label {
  max-width: 329px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
.form-wraper input,
.form-wraper textarea {
  border: 1px solid var(--grey-800);
  border-radius: 7px;
  height: 46px;
  background: rgba(255, 255, 255, 0.85);
  padding-left: 8px;
  padding-right: 8px;
}
.form-wraper textarea {
  height: 83px;
}
.order-form-btn {
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  border-radius: 15px;
  border: none;
  width: 224px;
  height: 56px;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
}
/*---------form--individual------------*/
.individual-part-one,
.individual-part-two {
  display: none;
  flex-direction: column;
  width: 100%;
}

.individual-checkbox-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.individual-checkbox-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--pink);
  flex-direction: unset;
  align-items: center;
  gap: 8px;
}
.ind-modal-form {
  border-radius: 15px;
}

@media screen and (min-width: 1440px) {
  .order-container {
    max-width: 608px;
    max-height: 777px;
    padding: 24px;
  }
  .form-subwraper,
  .order-form-individual {
    align-items: flex-start;
    max-width: 544px;
    padding: 24px 32px 32px 32px;
  }
  .form-wraper label {
    max-width: 365px;
  }
  .order-title {
    font-size: 36px;
    width: 100%;
  }
}
