.form-select {
  border: 1px solid var(--grey-800);
  border-radius: 7px;
  max-width: 329px;
  width: 100%;
  height: 46px;
  background: rgba(255, 255, 255, 0.85);
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.form-select-option {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--pink);
}
@media screen and (min-width: 1440px) {
  .form-select {
    max-width: 365px;
  }
}
