.gift {
  height: 1129px;
  align-items: end;
  padding-bottom: 48px;
}
.gift-wraper {
  width: 100%;
}
.gift-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: var(--pink);
  margin-top: 32px;
  margin-bottom: 32px;
}
.gift-content {
  display: flex;
  flex-direction: column;
}
.gift-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gift-text-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.gift-text-1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--pink);
}
.gift-text-2 {
  font-size: 16px;
  line-height: 1.5;
}
.gift-text-3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.gift-btn {
  border-radius: 15px;
  width: 224px;
  height: 70px;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
  border: none;
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  transition: all 400ms ease;
}
.gift-btn:hover {
  background: var(--background-btn);
}
.gift-img-mob {
  border-radius: 15px;
  max-width: 361px;
  width: 100%;
  height: 290px;
}
.gift-img {
  display: none;
}
@media screen and (min-width: 834px) {
  .gift {
    height: unset;
    align-items: center;
    padding-bottom: unset;
  }
  .gift-img-mob {
    display: none;
  }
  .gift-wraper {
    padding-top: 144px;
    padding-bottom: 160px;
  }
  .gift-title {
    font-size: 36px;
    margin-bottom: 64px;
  }
  .gift-content {
    flex-direction: unset;
    justify-content: space-between;
  }
  .gift-content-text {
    max-width: 365px;
    width: 100%;
    align-items: flex-start;
  }

  .gift-img {
    display: flex;
    border-radius: 15px;
    width: 365px;
    max-height: 376px;
  }
}
@media screen and (min-width: 1440px) {
  .gift-wraper {
    padding-top: 144px;
    padding-bottom: 160px;
  }
  .gift-title {
    font-size: 36px;
    margin-bottom: 64px;
  }
  .gift-content {
    flex-direction: unset;
    justify-content: space-between;
  }
  .gift-content-text {
    max-width: 560px;
    width: 100%;
    align-items: flex-start;
  }
  .gift-text-list {
    margin-top: 32px;
    max-width: 560px;
    width: 100%;
  }
  .gift-img {
    border-radius: 15px;
    width: 503px;
    max-height: 517px;
    display: flex;
  }
}
