.master-hero {
  background: url(/image/individual/background-ind-hero-mob.png);
  background-position: top center;
  background-repeat: repeat-x;
  background-size: contain;
  background-color: var(--grey-background);
  padding-top: 120px;
  padding-bottom: 70px;
}
.master-info,
.master-hero-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.master-info-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  color: var(--pink);
  margin-top: 32px;
  margin-bottom: 24px;
}
.sub-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 16px;
}
.master-info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.master-info-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.master-info-list p {
  font-size: 16px;
  line-height: 1.5;
}
.master-icon {
  width: 48px !important;
  height: 24px !important;
  stroke: var(--black);
}
.master-img-mob {
  border-radius: 15px;
  max-width: 361px;
  width: 100%;
}
.master-img {
  display: none;
}
@media screen and (min-width: 1440px) {
  .master-hero {
    align-items: unset;
    background: url(/image/background-master.png);
    background-position: top;
    background-repeat: repeat-x;
    background-size: contain;
    background-color: var(--grey-background);
    padding-top: 198px;
    padding-bottom: 129px;
  }
  .master-hero-wraper {
    flex-direction: unset;
  }
  .master-wraper-text {
    width: 560px;
  }
  .master-info-title {
    font-size: 36px;
    margin-bottom: 57px;
  }
  .sub-title {
    margin-top: 16px;
  }
  .master-img {
    border-radius: 15px;
    display: flex;
    max-width: 611px;
    width: 100%;
  }
  .master-img-mob {
    display: none;
  }
  .master-info-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 69px;
  }
}
