.master-gallery-list,
.master-gallery-wraper,
.master-list-item,
.master-item-text,
.master-galley-price-box {
  display: flex;
  flex-direction: column;
}
.master-gallery {
  background-color: var(--grey-background);
  padding-top: 50px;
}
.master-gallery-wraper {
  justify-content: center;
  align-items: center;
}
.master-gallery-title {
  text-align: center;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--pink);
  margin-bottom: 16px;
}
.master-gallery-list {
  justify-content: center;
  gap: 57px;
  margin-bottom: 72px;
}
.master-gallery-list img {
  width: 100%;
}
.master-list-item {
  align-items: center;
  border: 1px solid var(--pink-2);
  border-radius: 15px;
  margin-top: 32px;
  padding-bottom: 24px;
  background: rgba(245, 245, 243, 0.8);
  overflow: hidden;
}
.master-item-title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--pink-text);
  margin: 24px 0;
}
.master-item-text {
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;
}
.master-gallery-btn {
  border-radius: 15px;
  max-width: 224px;
  width: 100%;
  height: 56px;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
  margin-top: 24px;
  color: var(--white);
  border: none;
}
.master-galley-price-box {
  gap: 4px;
  margin-bottom: 16px;
}
.master-info-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--black);
}
.master-item-description {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .master-gallery-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .master-gallery-list {
    width: 1240px;
    gap: 72px;
    margin-top: 66px;
    align-items: center;
  }
  .master-list-item {
    margin: 0;
    max-width: 1027px;
    width: 100%;
    flex-direction: unset;
    gap: 48px;
    padding: 0;
  }
  .master-list-item:nth-child(odd) {
    flex-direction: row;
    align-self: flex-start;
  }
  .master-list-item:nth-child(even) {
    flex-direction: row-reverse;
    align-self: flex-end;
  }
  .master-gallery-list img {
    max-width: 502px;
    width: 100%;
    height: 414px;
  }
  .master-item-text {
    max-width: 422px;
    padding: 0;
    align-items: flex-start;
  }
  .master-gallery-btn {
    height: 58px;
  }
}
