@import url("./CSS/main/header.css");
@import url("./CSS/main/hero.css");
@import url("./CSS/main/about.css");
@import url("./CSS/main/info.css");
@import url("./CSS/main/event.css");
@import url("./CSS/main/gallery.css");
@import url("./CSS/main/help.css");
@import url("./CSS/footer.css");

:root {
  --black: #121906;
  --white: #f5f5f3;
  --purple: #84525e;
  --pink-text: #ac6869;
  --pink: #8c4763;
  --pink-2: #ce3c72;
  --pink-background: #efd9dd;
  --grey-80: rgba(117, 118, 122, 0.8);
  --grey-footer: #51505b;
  --grey-background: #cbcfd3;

  --font-family: "Lora", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "Great Vibes", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Lohit Devanagari", sans-serif;
  --font5: "Dancing Script", sans-serif;
  --font6: "SF Pro Text", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
