@import url("./CSS/main/header.css");
@import url("./CSS/main/hero.css");
@import url("./CSS/main/about.css");
@import url("./CSS/main/info.css");
@import url("./CSS/main/event.css");
@import url("./CSS/main/gallery.css");
@import url("./CSS/main/question.css");
@import url("./CSS/main/help.css");
@import url("./CSS/footer.css");

@import url("./CSS/master/master-hero.css");
@import url("./CSS/master/master-gallery.css");

@import url("./CSS/individual/individual.css");
@import url("./CSS/individual/individual-selection.css");
@import url("./CSS/individual/individual-info.css");

@import url("./CSS/giftpage/gift.css");

@import url("./CSS/modal/details.css");
@import url("./CSS/modal/order.css");

@import url("./CSS/modal/selected.css");
:root {
  --black: #121906;
  --white: #f5f5f3;
  --purple: #84525e;
  --pink-text: #ac6869;
  --pink-back-btn: #7c2a2c;
  --pink: #8c4763;
  --pink-2: #ce3c72;
  --pink-background: #efd9dd;
  --grey-800: rgba(117, 118, 122, 0.8);
  --grey-footer: #51505b;
  --grey-background: #cbcfd3;
  --background-btn: #663247;

  --font-family: "Lora", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "Great Vibes", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Lohit Devanagari", sans-serif;
  --font5: "Dancing Script", sans-serif;
  --font6: "SF Pro Text", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
fieldset {
  padding: 0;
  border: none;
  margin-top: 16px;
}
.is-hidden {
  display: none;
  transition: all 400ms ease;
}
.open-modal {
  display: flex;
  transition: all 400ms ease;
}

.container {
  max-width: 361px;
  padding-left: 16px;
  padding-right: 16px;
}
.order-btn {
  font-size: 20px;
  color: var(--white);
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgba(45, 50, 50, 0.31);
  background: var(--purple);
  cursor: pointer;
  transition: all 400ms ease;
}
.order-btn:hover {
  background: var(--background-btn);
}
.icon-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  stroke-width: 1.5px;
  stroke: var(--black);
  cursor: pointer;
}
.icon-close:hover {
  background: rgb(173, 171, 171, 0.2);
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1240px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
